{% load staticfiles %}

{% include 'common/header.html' %}

{% include 'common/navbar2.html' %}
<style type="text/css">

   li a:link, a:visited {
        color: #4A4747;
    }
</style>
    <!-- List of uploaded documents -->
    <section id="first">
    <div class="container">
    <div class="col-md-6 col-md-offset-3">
    <h3>Downloads</h3>
    {% if documents %}
        <ul class="list-group">
        {% for document in documents %}
            <li class="list-group-item"> <a href="{{ document.docfile.url }}">{{ document.docfile.name }}</a></li>
     {% endfor %}
        </ul>
    {% else %}
        <p>No documents.</p>
    {% endif %}
    </div>

    </div>
     </section>

   

      {% include 'common/footer.html' %}