{% load staticfiles %}

{% include 'common/header.html' %}

{% include 'common/navbar2.html' %}
 
<!-- 
Added {% csrf_token%}, for security reasons. 
 -->

 <section id="first">
    <div class="container">
    <div class="col-md-6 col-md-offset-3">
    <h3>Send Notification</h3>
              <div class="row"></div>
			

			<form   method='POST' action=''>{% csrf_token%} 
			{{form.as_p}}


			<input type="submit" value="Send Notification"/>



			</form></div>
		</div>
	</section>



 {% include 'common/footer.html' %}

