  {% load staticfiles %}

{% include 'common/header.html' %}
{% include 'common/navbar2.html' %}
<section id="first">
<div class="container">
        <div class="row">
          <div class="col-sm-4 col-sm-offset-4">
            
              <h3>Upload Parent Data</h3>
              <hr>
              <div class="row"></div>
              <form action="/parent_data/" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <p>{{ form.non_field_errors }}</p>
            <p>{{ form.parentsheet.label_tag }} {{ form.parentsheet.help_text }}</p>

            <p>
                {{ form.parentsheet.errors }}
               {{ form.parentsheet}}
            </p>
            <div >
            <p><input type="submit" value="Upload" /></p></div>
        </form>
            </div>
           
          </div>
        </div>
      
  </section>    
           
          

    {% include 'common/footer.html' %}       
