  {% load staticfiles %}

{% include 'common/header.html' %}
{% include 'common/navbar2.html' %}
<section id="first">
<div class="container">
        <div class="row">
          <div class="col-sm-4 col-sm-offset-4">
            
              <h3>Upload Student Data</h3>
              <hr>
              <div class="row"></div>
              <form action="/student_data/" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <p>{{ form.non_field_errors }}</p>
            <p>{{ form.studentsheet.label_tag }} {{ form.studentsheet.help_text }}</p>

            <p>
                {{ form.studentsheet.errors }}
               {{ form.studentsheet}}
            </p>
            <div class="card-action">
            <p><input type="submit" value="Upload" /></p></div>
        </form>
            </div>
           
          </div>
        </div>
      
  </section>    
           
          

    {% include 'common/footer.html' %}       
